<h1><%= pluralize(@users.count, 'user')%></h1>


<ul>
  <% @users.each do |user|%>
    <li>
      <%= user.name %>
      <%= "#{pluralize(user.posts.count, 'post')}" if user.posts%>
    </li>
  <% end %>
</ul>
