<header>

  <% if current_user %>
  <ul>
    <%= link_to(current_user.name, users_path(current_user))%>
    <%= link_to('Create a post', posts_new_path)%>
    <hr>
    <%= link_to('Sign out', signout_path, :method => :delete)%>
  </ul>

  <% end %>


  <h2>
    <%= logged_in? %>
  </h2>
</header>